*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    background-image: url(font.jpeg);
    width: auto;
    height: auto;
    background-size: cover;
    font: 16px/1.42857 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
}

header {
    background-color: #378beb;
    text-align: center;
    color: gold;
    font-family: Georgia;
    font-size: 20px;
    text-decoration: none;
    text-shadow: #0800ff 0 0 2px;
    height: 150px;
    padding: 10px 50px;
    opacity: 0.9;
    border-style: ridge;
    border-width: 3px;
    border-color:  #04032b;
    border-radius: 3px;
}

figure {
    margin: auto;
    float:left;
    border-radius: 50px;
}


main {
    margin: 10px;
    width:auto;
    display: block;
}

article {

    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    display: block;
    float: right;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 20%;
    overflow: hidden;
    align-items: center;
}

aside {
    text-align: center;
    float: left;
    padding-left: 15px;
    width: 40%;
    display: block;
    overflow: hidden;
    position:relative;
}

footer {
    position: absolute;
    bottom: 0;
    background: #ccc;
    margin: auto;
    width: 100%;
    max-height: 100%;
    opacity:0.9;
    text-align:center;

}

.button {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    padding: 10px 15px;
    display: inline-block;
    background: #04032b;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0, .3);
    transition: all .8s;
}
.button:hover {
    background: #3d3c65;
    box-shadow: 4px 4px 8px rgba(0,0,0, .4);
}

#cls {
    width: 550px;
}
#dep{
    width: 250px;
}

#image{
    border-radius: 10px;
    opacity: 0.9;
}
